<div *ngFor="let item of feedService.tweetList">

    <div class="row">
      <div class="col-sm" [innerHTML]="item.time"></div>
      <div class="col-sm" [innerHTML]="item.userLink"></div>
      <div class="col-sm">
        <button class="btn btn-primary " (click)="filterOut(item.screenName)">Filter me</button>
      </div>
    </div>

   <div class="row">
     <div class="col-sm" [innerHTML]="item.textLink"></div>
  </div>

   <div class="row border-bottom">
    <div class="col-sm float-right">
      <img class=" img-responsive" *ngIf="item.image" style="max-height: 200px; max-width: 320px"
           src="{{item.image}}?format=jpg&name=small"/>
    </div>
  </div>
</div>

