<div class="row" style="padding-top: 30px ; padding-bottom: 10px">
  <div class="col">
    <button class="btn btn-primary " (click)="resetFilter()">Unmute all</button>
  </div>
</div>

<div *ngFor="let item of feedService.tweetList">

  <div class="row">

    <div class="col-2">
      <img class=" img-responsive"  style="max-height: 50px; max-width: 50px"
           src="{{item.profileImage}}"/>
    </div>

    <div class="col-10">
      <div class="row">
        <div class="col-9" [innerHTML]="item.time"></div>
        <div class="col-3">
          <button class="btn btn-primary " (click)="filterOut(item.screenName)">Mute</button>
        </div>
      </div>

      <div class="row" *ngIf="item.retweetedBy">
        <div class="col" style="font-style: italic; font-size: 90%;" [innerHTML]="item.retweetedBy"></div>

      </div>

      <div class="row" *ngIf="item.quotedBy">
        <div class="col" style="font-style: italic; font-size: 90%;" [innerHTML]="item.quotedBy"></div>

      </div>

      <div class="row mb-2" *ngIf="item.quotedText">
        <div class="col" [innerHTML]="item.quotedText"></div>
      </div>

      <div class="row">
        <div class="col" [innerHTML]="item.userLink"></div>
      </div>

      <div class="row mb-2">
        <div class="col" [innerHTML]="item.textLink"></div>
      </div>

      <div class="row border-bottom mb-2 pb-2">
        <div class="col float-right">
          <img class=" img-responsive" *ngIf="item.image" style="max-height: 200px; max-width: 320px"
               src="{{item.image}}?format=jpg&name=small"/>
        </div>
      </div>
    </div>


  </div>
</div>
